.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  background: black;
  color: white;
}

@media screen and (max-width: 500px) {
  .dashboard{
    width: fit-content;
  }
}